#set($title="from index page")
类型转换:
</hr>
<form action="#springUrl('')/sync/type_convert"  method="post">
	id:<input name="id" value="$!id"/><br/>
	birthDate:<input name="date" value="$!date.format('yyyy-MM-dd',$!bean.createTime)"/>
	<input type="submit" />
</form>