<script type="text/javascript">
	$(document).ready(function(){
		showConsoleLog();
    	function showConsoleLog(){
        	setInterval(function(){
				$.ajax({
					type:'POST',
            		async:true,
            		data:null,
            		url:"#springUrl('')/shell/show/console",
            		dataType:'json',
            		success:function(data){
    					console.log(data);
            		}
    			});
			},2000);
    	}
	});
</script>
