<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" 
"http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg id="wf" width="2000px" height="2000px" version="1.1"xmlns="http://www.w3.org/2000/svg">
	<line id="dline" x1="0" y1="0" x2="0" y2="0" style="stroke:rgb(99,99,99);stroke-width:1.5"/>
	<rect id="r1" width="40" height="40" style="stroke-width:1.5;" x1="200" y1="200" rx="100" ry="100"/>
	<rect width="20" height="20" style="stroke-width:1.5;" x="100" y="100" rx="400" ry="400"/>
</svg>